* {
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --bg-color: rgb(254, 255, 210);
    --primary-color: rgb(255, 191, 120);
    --second-color: rgb(255, 125, 41);
    --text-color: black;
}

[data-theme="dark"] {
  --bg-color: rgb(72, 30, 20);
  --primary-color: rgb(155, 57, 34);
  --second-color: rgb(242, 97, 63);
  --text-color: #f0f0f0;
}

body {
    background-color: var(--bg-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border-bottom: 0.2em double var(--text-color);
    min-width: 20em;
    position: sticky;
    color: var(--text-color);
}

header>h2 {
    text-align: center;
    margin-bottom: 0.2em;
}

header>p {
    text-align: center;
}

main {
    display: flex;
    flex: 0 0 100%;
    padding: 2em;
}

.left-panel {
    justify-content: center;
    border: 1px solid rgba(105, 105, 105, 0.418);
    background-color: var(--primary-color);
    color: var(--text-color);
    flex: 0 0 50%;
    flex-flow: column wrap;
    text-align: center;
    padding-bottom: 3em;
    min-width: 20em;
}

.left-panel-title {
    text-align: center;
}

.task-list {
    margin-left: 1em;
    text-align: left;
    flex-direction: row;
}

ul > li > button {
    border-radius: 20%;
    height: 3em;
    color: whitesmoke;
}

.task-item-button-edit {
    background-color: rgb(235, 152, 0);
}

.task-item-button-preview {
    background-color: rgb(0, 67, 192);
}

.task-item-checkmark-done {
    color: green;
}

.right-panel {
    flex: 0 0 50%;
    border: 1px solid rgba(105, 105, 105, 0.418);
    background-color: var(--primary-color);
    color: var(--text-color);
    flex-flow: column wrap;
    padding-bottom: 3em;
    min-width: 20em;
    text-align: center;
}

.task-details {
    border-bottom: 1px solid rgba(105, 105, 105, 0.418);
}

.task-details-details {
    text-align: left;
    margin: 1em;
}

.add-new-tasks {
    margin-left: 5em;
}

.form-group {
    margin-bottom: 1em;
    text-align: left;
}

.form-task-button {
    height: 5em;
    width: 10em;
    min-height: 3em;
    min-width: 6em;
    background-color: var(--second-color);
    color: var(--text-color);
}

footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: var(--text-color);
}

@media (max-width: 768px){
  main {
    flex-direction: column;
  }
  
  section {
    margin-right: 0;
    margin-bottom: 15px;
  }
}